language: android
dist: trusty

script:
  - mv travis.local.properties local.properties
  - chmod +x gradlew
  - ./gradlew build -x lint
android:
  components:
    - build-tools-28.0.0
    - android-28
